<!DOCTYPE html>
<head>
<title>Artist Results Page</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body id="response">
  <h1>Here are the album results from the top 30 searches:</h1>
  {% for key,value in artist_album.items() %}
    <div class ='artist'>
      <p>
        Average price of albums for
        <b>{{key}}: ${{value}}</b>
      </p>
    </div>
  {% endfor %}
  <p id="heading3">
    <em>These are the album information results which show in order: album name, album url, album cover url, and the release date.</em>
  </p>
  {% for album in more_info %}
    <div class ='information'>
      <p>Album Name: {{more_info[album]["Album Name"]}}</p>
      <p>Album URL: <a href={{more_info[album]["Album URL"]}} target="_blank">{{more_info[album]["Album URL"]}}</a></p>
      <p>Album URL: <a href={{more_info[album]["Artwork URL"]}} target="_blank">{{more_info[album]["Artwork URL"]}}</a></p>
      <p>Release Date: {{more_info[album]["Release Date"]}}</p>
      <hr class="horiline">
    </div>
  {% endfor %}
  <form action="gresponse" method="post">
    <label for="artist" id="returntext">Want to search for more artists?</label>
    <input type="submit" value="More" name="gobutton" class="button"/></form>
</body>
</html>